<ion-view view-title="Fuel Prices - Petrol">
  <!-- Uncomment to let the controller called 'FuelController' work as soon as the page loads-->
  <ion-content class="scroll-bg">
    <!--Experimental content to pull refresh
    <ion-refresher pulling-text="Check prices" on-refresh="alert('Hello');"></ion-refresher>-->
    <!-- Trying out loop since the JSON is now working -->

    <div class="" ng-controller="toggleShowCtrl">
      <ion-item class="item item-icon-right" ng-click="toggle()"  ng-hide="otherVar" href="#/app/petrol" ><h2>Petrol</h2><i class="icon ion-chevron-down" ></i></ion-item>

      <ion-list class=" list list-inset">

        <ion-item ng-hide="myVar" href="#"  ng-click="toggle()" class="item item-icon-right">Petrol<i class="icon ion-chevron-up"></i></ion-item>
        <ion-item ng-hide="myVar" href="#/app/diesel" class="item" >Diesel </ion-item>
        <ion-item ng-hide="myVar" href="#/app/kerosene" class="item">Kerosene </ion-item>
        <ion-item ng-hide="myVar" href="#/app/lpg" class="item">L.P.G </ion-item>
      </ion-list>
    </div>

    <ion-list>

    <ion-item class="card" ng-repeat="omc in omcs" ng-controller="toggleShowCtrl" >
      <div class="row" ng-hide="myVar"  ng-click="toggle()">
        <div class="col"></div>
        <h2><a  class="col" >{{omc.name}}</a></h2>
        <div class="col"></div>
    </div>
      <a ng-click="toggle()" class="item item-text-wrap" ng-hide="otherVar"> {{omc.name}}<h2 id="thePrice" style="float:right;">GHS {{(omc.recentPetrol * 3.78).toFixed(2)}} <br><small class="item-note"> (Per Gallon / 3.78 litres)</small></h2></a>
      <div ng-hide="myVar">
        <ul class="list">
          <li class="item item-text-wrap">Petrol: <h2 id="thePrice1" style="float:right;"> GHS {{omc.recentPetrol}} <br><small class="item-note"> (Per Litre)</small></h2> </li>
          <li class="item item-text-wrap">Diesel: <h2 id="thePrice2" style="float:right;"> GHS {{omc.recentDiesel}} <br><small class="item-note"> (Per Litre)</small></h2></li>
          <li class="item item-text-wrap">Kerosene: <h2 id="thePrice3" style="float:right;"> GHS {{omc.recentKerosene}} <br><small class="item-note"> (Per Litre)</small></h2></li>
          <li class="item item-text-wrap">L.P.G: <h2 id="thePrice4" style="float:right;"> GHS {{omc.recentLpg}} <br><small class="item-note"> (Per Litre)</small></h2></li>
          <li class="item item-text-wrap" ng-controller="ShareController"><button class="button ion-paper-airplane" ng-click="shareAnywhere()">Share</button></li>
        </ul>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

